.back {
  position: relative;
  text-decoration: none;
  color: $font_color;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 1.8rem;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(45deg);
    left: -15px;
    top: 4px;
    transition: .3s;
  }

  &:hover::before {
    left: -22px;
  }
}
