.body-oahu {

  .pearl-harbor__program {
    margin-top: 2rem;
  }
  .program__item {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 1rem;
    //align-items: flex-start;
    align-items: center;

    .program__item-title {
      align-items: flex-start;
    }

    .program__description {
      margin: 0 0 0 1rem;
      font-size: 0.9rem;
      opacity: .75;
      line-height: 1.8;
      max-width: 800px;
    }

    .pearl-harbor-icon__svg {
      margin-right: 0;
    }
  }
}