@import "var";
.btn {
  background: $background_btn;
  min-width: 140px;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;

  &:hover {
    border: 1px solid #fff;

  }
}
