@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/RalewayExtraBold.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/RalewayMedium.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway/RalewayThin.woff');
    font-weight: 100;
    font-style: normal;
}

._subtitle {
    font-family: Raleway, sans-serif;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}
@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}
@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

body {
    p {
        font-size: 18px;
        line-height: 1.6;
        font-weight: 200;
        max-width: 1000px;
    }

    ._tile {
        display: flex;
        flex-flow: column nowrap;
        //align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 6vw 8vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        //width: 100%;

        &-title {
            &-sub {
                font-size: 2.3rem;
                line-height: 1.12;
                font-weight: 400;
                text-transform: none;
            }
        }

        &-text {

        }
    }

    .footer__support-title {
        margin-bottom: 4px;
    }

    .footer__copyright-item {
        opacity: .45;
    }
}


@-webkit-keyframes bg-move {
    0%   { background-position: -500px 0; }
    100% { background-position: 1000px 0; }
}
@keyframes bg-move {
    0%   { background-position: -500px 0; }
    100% { background-position: 1000px 0; }
}