@import "var";
.header {
  position: relative;
  &::after {
    content: "";
    background: url("../img/header_1.jpg") no-repeat 30%/cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: brightness(80%);
    z-index: -1;
    position: absolute;
  }
  min-height: 100vh;

}

.header__logo {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  margin-top: 1.5rem;
  //&::after {
  //  content: "";
  //  width: 30%;
  //  height: 1px;
  //  background: #fff;
  //  position: absolute;
  //  top: 2rem;
  //  right: 0;
  //}
  //&::before {
  //  content: "";
  //  width: 30%;
  //  height: 1px;
  //  background: #fff;
  //  position: absolute;
  //  top: 2rem;
  //  left: 0;
  //}
}

.header__caption {
  font-weight: 900;
  font-size: 4.0rem;
  text-transform: uppercase;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  color: $font_color;
  position: relative;
  line-height: 0.9;
  margin-bottom: 20px;
}

.header__caption-under {
  fill: transparent;
  stop-color: black;
  stroke: $font_color;
  stroke-width: 1px;
  font-size: 2.7rem;
  width: 600px;
}

.header__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 // min-height: 466px;
}

.header__footer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.header__footer-description {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  margin-top: 0;

  &:last-child {
    font-size: .9rem;
    margin-top: 0;
    position: relative;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/mouse.png") no-repeat;
      background-size: 18px;
      width: 50px;
      height: 50px;
      top: 33px;
      left: 29px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 82px;
      // background: #ffffff;
      border-left: 1px dashed #fff;
      top: 75px;
      left: 37px;
    }
  }
}
//------about







