@import "var";

.body-pearl-harbor {
  background: $background_section;

  p {
    line-height: 1.5;
  }
}

.header-tour {
  padding-top: 3rem;

  @media screen and (max-width: 780px) {
    padding-top: 2rem;
  }
}

.header-tour__title {
  margin-top: 0;
}

.header-tour__slider {
  position: relative;

  .slider-tour__item {
    width: 100vw;
    min-height: 100px;
    display: none;

    img {
      width: 100%;
      height: auto;
      background: center/cover;
    }
  }

  ._active {
    display: block;
  }

  .oahu_img {
    filter: brightness(30%);
  }
}

.chat-svg {
  fill: white;
  transition: .3s;

  &:hover {
    fill: $background_btn;
  }
}

.header-tour__control {
  display: flex;
  justify-content: space-between;
}

.header-tour__box {
  display: flex;
  margin: 1rem 2rem 3rem 0;

  @media screen and (max-width: 870px) {
    margin: 1rem 1rem 1rem 0;
  }
}

.header-tour__description {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  p {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 0.75rem;

    @media screen and (max-width: 1580px) {
      font-size: 0.5rem;
    }
  }
}

.time {
  display: flex;

  .time__box {
    margin-right: 2rem;
  }
}

.details,
.price {
  width: 40%;

  @media screen and (max-width: 580px) {
    width: 27%;
  }
}

.day__box {
  display: flex;

  .day__item {
    padding: 0 1rem;

    &:nth-child(2) {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.oahu-icon__arrow_down {
  border: 1px solid $background_icon;
  padding: 2px;
  border-radius: 4px;
  width: 15px;
  height: 15px;
  transform: rotate(-90deg);
}