@import "var";

.body-pearl-harbor {
  background: $background_section;
}

.header-tour {
  padding-top: 3rem;
}

.header-tour__slider {
  position: relative;

  .slider-tour__item {
    width: 100vw;

    img {
      display: none;
      width: 100%;
      height: auto;
      background: center/cover;
    }

    ._active {
      display: block;
    }
  }
}

.back {
  position: relative;
  text-decoration: none;
  color: $font_color;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 1.8rem;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(45deg);
    left: -22px;
    top: 4px;
  }
}

.dinner-svg {
  fill: white;
}

.slider-tour__control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 44%;
  cursor: pointer;

  .preview {
    border: 1px solid rgba(255, 255, 255, .5);
    width: 50px;
    height: 50px;
    border-radius: 2px;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }

  }

  .next {
    border: 1px solid rgba(255, 255, 255, .5);
    width: 50px;
    height: 50px;
    border-radius: 2px;

    &:hover {
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }
}

.header-tour__control {
  display: flex;
  justify-content: space-between;
}

.close {
  position: relative;
  border: 1px solid rgba(255, 255, 255, .5);
  width: 50px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 15px;
    height: 1px;
    background: #ffffff;
    transform: rotate(-45deg);
    z-index: 100;
  }
  .close__line {
    position: absolute;
    display: block;
    width: 15px;
    height: 1px;
    background: #ffffff;
    transform: rotate(45deg);
    z-index: 100;
  }
}


.header-tour__box {
  display: flex;

}