.header {
  // background: url("../img/header.jpg") no-repeat;
  background-size: 100%;
  min-height: 58vh;
  background-color: #767070;
}

.header__caption {
  font-weight: 900;
  font-size: 5.0rem;
  text-transform: uppercase;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  color: $font_color;
  position: relative;
  line-height: 0.9;
  margin-bottom: 20px;
}

.header__caption-under {
  fill: transparent;
  stop-color: black;
  stroke: $font_color;
  stroke-width: .5px;
  font-size: 46px;
  margin-top: -1.5rem;
}

.header__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 466px;
}

.header__footer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.header__footer-description {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;

  &:last-child {
    font-size: .9rem;
    margin-top: 0;
    position: relative;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      background: url("../img/mouse.png") no-repeat;
      background-size: 18px;
      width: 50px;
      height: 50px;
      top: 33px;
      left: 29px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100px;
      // background: #ffffff;
      border-left: 1px dashed #fff;
      top: 75px;
      left: 37px;

    }
  }
}


.about {

}