.individual-tours {
  background: linear-gradient(rgba(23,29,45,.78),rgba(23,29,45,.068)),url(/img/mount-1-colored.jpg) top/cover;
  padding: 6rem 0;

  @media screen and (max-width: 480px) {
    padding: 5rem 0 1rem;
  }
}

.individual-tours__box {
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, 360px));
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  justify-content: space-between;

  @media screen and (max-width: 1540px) {
    grid-template-columns: repeat(2, minmax(10%, 360px));
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }

  @media screen and (max-width: 880px) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
  }
}

.individual-tours__container {
  margin: 3rem auto;
}

.individual-tours__title {
  margin-bottom: 4rem;

  @media screen and (max-width: 1540px) {
    text-align: center;
  }
}