.next {
  position: relative;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    transform: rotate(45deg);
    top: 18px;
    left: 16px;
  }
}