.preview {
  position: relative;

  &::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18px;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    transform: rotate(-135deg);
    left: 20px;
  }
}