.price__box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

.price__value {
  font-family: sans-serif, system-ui;
  font-size: 2rem;
}

.price__description {
  color: $background_icon;
  margin-top: 0.5rem;
}
