.product {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;

}

.product__title {
  font-size: 1.5rem;
  font-weight: 400;
  width: 70%;
  padding: 1rem;
  margin-top: 0;
}

.product:nth-child(1) {
  .product__item {
    background: url("../img/hiking_hawaii.jpg")no-repeat center/cover;
  }
}

.product:nth-child(2) {
  .product__item {
    background: url("../img/pinapple.jpg")no-repeat center/cover;
  }
}

.product:nth-child(3) {
  .product__item {
    background: url("../img/flight.jpg")no-repeat center/cover;
  }
}

.product:nth-child(4) {
  .product__item {
    background: url("../img/national_parks.jpg")no-repeat center/cover;
  }
}

.product__item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .btn__box {
    position: static;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-end;
    width: auto;
  }
}
