.social-network {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}

.social-network__link {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
}

.social-network__icon-svg {
  fill: #ffffff;
  width: 25px;
  transition: .3s;

  &:hover {
    fill: $background_btn;
    transform: scale(1.2);
  }
}