@import "var";

.special-services {
  background: $background_section;
}

.special-services__description {
  font-size: 1.5rem;
  width: 50%;
  margin-top: 4rem;

  @media screen and (max-width: 480px) {
    width: 100%;
    margin-top: 1rem;
  }
}

.special-services__block-head {
  width: 50%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.special-services__block {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }

  &:first-child {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 10rem;

    @media screen and (max-width: 1480px) {
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }
  }
}

.special-services__title {
  margin-bottom: 0;
  width: 30%;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}

.special-services__subtitle {
  margin-bottom: 4rem;

  @media screen and (max-width: 480px) {
    margin-bottom: 1rem;
  }
}

.service__icon {
  width: 230px;
  min-height: 120px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .service__icon {
    background-size: 60%;
    min-height: 170px;
  }

  &:nth-child(1) {
    .service__icon {
      background: url("../img/services_icon_01.jpg") no-repeat center;

    }
  }

  &:nth-child(2) {
    .service__icon {
      background: url("../img/services_icon_02.jpg") no-repeat center;
    }
  }

  &:nth-child(3) {
    .service__icon {
      background: url("../img/services_icon_03.jpg") no-repeat center;
    }
  }

  &:nth-child(4) {
    .service__icon {
      background: url("../img/services_icon_04.jpg") no-repeat center;
    }
  }

  &:nth-child(5) {
    .service__icon {
      background: url("../img/services_icon_05.jpg") no-repeat center;
    }
  }

  &:nth-child(6) {
    .service__icon {
      background: url("../img/services_icon_06.jpg") no-repeat center;
    }
  }
}

.special-services__item {
  border: 1px solid $border_color_grey;
  min-width: 220px;
}

.service__title {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 62%;
}

.service__description {
  font-size: 0.5rem;
  text-align: center;
  font-weight: 100;
  padding: 1rem;
}