.start-travel {
  position: relative;
  padding: 6rem 0 3rem;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    //background: url("/img/see_bg.jpg");
    //background: linear-gradient(rgba(23, 29, 45, 0.98),rgba(23, 29, 45, 0.78)),url("/img/bg-sea.jpg") center / cover;
    //filter: brightness(90%);
    //background: linear-gradient(rgba(23,29,45,.78),rgba(23,29,45,.68)),url(/img/bg-sea-2.jpg) center/cover;
    //background: linear-gradient(rgba(23,29,45,.78),rgba(23,29,45,.68)),url(/img/mount-1.jpg) center/cover;
    background: linear-gradient(rgba(23,29,45,.78),rgba(23,29,45,.068)),url(/img/mount-1-colored.jpg) bottom/cover;
    //border-top: 1px solid rgba(255,255,255,.42);
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  @media screen and (max-width: 480px) {
    padding: 2rem 0 1rem;
  }

  .subtitle {
    display: block;
    margin-bottom: 3rem;
  }

  .title_h2 {
    margin: 3rem auto 1rem auto;
  }
}

.start-travel__box {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.start-travel__item {
  width: 25%;

  @media screen and (max-width: 1024px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 750px) {
    margin-top: 3rem;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.start-travel__info {
  width: 80%;

  @media screen and (max-width: 750px) {
    width: 50%;
  }

  @media screen and (max-width: 1024px) {
      margin-top: 0;
  }
}