@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/RalewayExtraBold.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/RalewayMedium.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/raleway/RalewayThin.woff');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 100%;
}

@import "block";
//@import "fonts";
@import "header";
@import "wrapp";
@import "normalize";
@import "body";
@import "var";
@import "btn";
@import "about";
@import "tours";
@import "surfing-snorkeling";
@import "title_h2";
@import "recommend-tour";
@import "special-services";
@import "menu";
@import "start-travel";