@import "var";

.tours-box {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  color: $font_color;
  width: 100%;

  @media screen and (max-width: 730px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.tours-box__group-title {
  font-weight: 400;
  margin: 5px 0 10px 0;
}

.tours-box__title {
  width: 40%;
}

.tours-box__item {
  &:first-child {
    background: url("../img/img_01.jpg") no-repeat;
    grid-row: 1/3;
    padding-left: 9vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 730px) {
      grid-row: 1;
    }

    h3 {
      margin-bottom: 5rem;
    }
  }

  &:nth-child(2) {
    position: relative;
    background: url("../img/img_02.jpg") no-repeat;
    background-size: cover;
    padding-left: 4rem;

    @media screen and (max-width: 730px) {
      grid-row: 2;
    }

    @media screen and (max-width: 480px) {
      padding: 1.5rem;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  &:nth-child(3) {
    background: url("../img/img_03.jpg") no-repeat;
    background-size: cover;
    grid-column-start: 2;
    padding-left: 4rem;

    @media screen and (max-width: 730px) {
      grid-row: 3;
      grid-column: 1;
    }

    @media screen and (max-width: 480px) {
      padding: 1.5rem;
    }
  }
}

.tours-box__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.tours-box__groups {
  margin-top: 3rem;
  @media screen and (max-width: 780px) {
    margin-top: 1rem;
  }
}

.tours__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid rgba(255, 255, 255, .6);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  & .tours__btn-decoration:hover::after {
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);
  }
}

.tours-box__btn {
  margin-right: 1rem;

  .tours__btn-decoration {
    width: 15px;
    height: 15px;
    border-right: 1px solid rgba(255, 255, 255, .6);
    border-top: 1px solid rgba(255, 255, 255, .6);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 16px;

    &::after {
      content: "";
      width: 15px;
      height: 15px;
      border-right: 1px solid rgba(255, 255, 255, .6);
      border-top: 1px solid rgba(255, 255, 255, .6);
      //transform: rotate(45deg);
      position: absolute;
      left: 8px;
      top: -9px;
    }
  }

  &:hover .tours__btn-decoration,
  &:hover .tours__btn-decoration::after{
    border-right: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);
  }
}


.tours-box__sub-title {
  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 0;
}